<div class="space-y-4 md:space-y-0 md:space-x-6 md:flex-row place-content-center">
  <h2 class="text-center">react with us</h2>
  <section class="text-gray-600 body-font pt-14">
    <div class="container px-5 mx-auto">
     <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">2.7K</h2>
          <p class="leading-relaxed">good</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">1.8K</h2>
          <p class="leading-relaxed">fine</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">35</h2>
          <p class="leading-relaxed">bad</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">4</h2>
          <p class="leading-relaxed">very bad</p>
        </div>
      </div>
    </div>
  </section>
</div>